/Luckfox_Lyra_SDK_*.tar.gz
lyra-sdk/
hisptoot-drivers/
debootstrap/
picocalc-install/
boot/
rootfs/
picocalc-sd-*.img
Luckfox-Lyra-B-pinout.jpg
devicetree-overlay/*.dtbo
*.preproccessed
qemu-arm/linux-6.1.99/
qemu-arm/qemu-fs/
qemu-arm/*.img
